/* === desktop first === */

/* from xl to xxl */
@media (max-width : 1400px) {

}

/* from lg to xl */
@media (max-width : 1200px) {

}

/* from md to lg */
@media (max-width : 992px) {

}

/* from sm to md */
@media (max-width : 768px) {

}

/* from xs to sm */
@media (max-width : 576px) {

}

/* === mobile first === */

/* xs */
@media (min-width : 0) {
	.apps {
		grid-template-columns: repeat(2, 1fr);
	}

	.apps .app:nth-child(2n-1):nth-last-of-type(1) {
		grid-column: span 2;
	}
}

/* sm */
@media (min-width : 576px) {
	.apps {
		grid-template-columns: repeat(4, 1fr);
	}

	.apps .app:nth-child(4n-1):nth-last-of-type(1) {
		grid-column: span 2;
	}
	
	.apps .app:nth-child(4n-2):nth-last-of-type(1) {
		grid-column: span 3;
	}
	
	.apps .app:nth-child(4n-3):nth-last-of-type(1) {
		grid-column: span 4;
	}
}

/* sm */
@media (min-width : 768px) {

}

/* lg */
@media (min-width : 992px) {

}

/* xl */
@media (min-width : 1200px) {

}

/* xxl */
@media (min-width : 1400px) {

}
